<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Hotplates</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hotplates</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="" id="container1">
    <strong>Ready to cook with a hotplate?</strong>
    <p>
      Start with Ionic
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components"
        >UI Components</a
      >
    </p>
    <ion-button class="ion-margin-top" (click)="mainToSelect()"
      >Start</ion-button
    >
  </div>

  <div class="ion-hide" id="container2">
    <div>
      <strong>Choose a hotplate</strong>
      <p>Click on a hotplate to set it</p>
    </div>

    <div>
      <ion-grid id="hotplateGrid">
        <ion-row>
          <ion-col class="">
            <div class="hotplate" id="hotplate1"></div>
            <ion-label>Hotplate 1</ion-label>
          </ion-col>
          <ion-col class="">
            <div class="hotplate" id="hotplate2"></div>
            <ion-label>Hotplate 2</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col id="col3" class="">
            <div class="hotplate" id="hotplate3"></div>
            <ion-label>Hotplate 3</ion-label>
          </ion-col>
          <ion-col id="col4" class="">
            <div class="hotplate" id="hotplate4" (click)="selectToSet()"></div>
            <ion-label>Hotplate 4</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div>
      <ion-button color="danger" (click)="selectToMain()">Cancel</ion-button>
    </div>
  </div>

  <div class="ion-hide" id="container3">
    <div>
      <strong>Set the oven</strong>
      <p>
        Start with Ionic
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://ionicframework.com/docs/components"
          >UI Components</a
        >
      </p>
    </div>

    <div>
      <strong>Pick temperature</strong>
      <ion-range min="0" max="250" pin="true"></ion-range>
    </div>

    <div>
      <strong>Pick duration</strong>
      <ion-item>
        <ion-datetime
          [(ngModel)]="duration"
          (ionChange)="showDuration();"
          placeholder="Select duration"
          displayFormat="H:m"
          hourValues="0,1,2,3,4,5,6,7,8"
          minuteValues="1,2,3,4,5,6,7,8,9,10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
            20, 21, 22, 23, 24, 25, 26, 27, 28, 29,
            30, 31, 32, 33, 34, 35, 36, 37, 38, 39,
            40, 41, 42, 43, 44, 45, 46, 47, 48, 49,
            50, 51, 52, 53, 54, 55, 56, 57, 58, 59"
        ></ion-datetime>
      </ion-item>
    </div>

    <div id="startTimeFull">
      <div id="startTime">
        <strong>Pick start time</strong>
        <ion-radio-group value="biff">
          <!-- <ion-list-header>
                <ion-label>Name</ion-label>
              </ion-list-header> -->

          <ion-item>
            <ion-label>Now</ion-label>
            <ion-radio slot="start" value="1"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Later</ion-label>
            <ion-radio slot="start" value="2"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </div>

      <div id="datetimePicker">
        <ion-datetime
          class="ion-hide"
          displayFormat="MM DD YY"
          placeholder="Select Date"
          id="later"
        ></ion-datetime>
      </div>
    </div>

    <div>
      <ion-button class="ion-margin" color="danger" horizontal="end"
        (click)="setToSelect()">Cancel</ion-button
      >
      <ion-button class="ion-margin" horizontal="center" (click)="setToWorking()">Done</ion-button>
    </div>
  </div>

  <div class="ion-hide" id="container4">
    <strong>{{status}}</strong>
    <p>Hotplate is working</p>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>Time left</ion-label>
          <p>{{timeLeft}} seconds</p>
          <p></p
        ></ion-col>
        <ion-col>
          <ion-label>Time passed</ion-label>
          <p>{{timePassed}} seconds</p>
          <p></p
        ></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>Temperature</ion-label>
          <p>{{temperature}} C</p>
        </ion-col>
        <ion-col>
          <ion-label>Mode</ion-label>
          <p>Grill</p>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="ion-margin-top" id="workingBtns">
      <ion-button id="editWorking"> Edit </ion-button>
      <ion-button class="ion-margin" id="doneCooking" (click)="workingToMain()">
        Done
      </ion-button>
      <ion-button id="plusFive"> +5 </ion-button>
    </div>
  </div>
</ion-content>
