<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Smart Oven</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Set a hotplate</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Set a hotplate</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    <br>
    <ion-button routerLink='/hotplate' color='danger'>Cancel</ion-button>
  </div>

</ion-content>

